*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('/image/casal.png') no-repeat center top;
    
}

#topo{
    align-items: center;
   padding-top: 1%;
  
}

.logo{
    max-width: 100px;
    width: 100%;
    margin-left: 50%;
    margin-top: 10px;
   
}

.video{
    width: 100%;
}

.imagens{
    width: 60%;
    margin-top: 20px;
    padding: 0px 10px 20px 20px;
}

.texto0{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align:center;
    font-size: 15px;
    margin-top: 20px;
   padding-left: 20px;
   padding-right: 15px;
   padding-top: 0px;
   padding-bottom: 0px;
}

article{
    max-width: 90%;
    background-color: #1cade2;
   margin-left: 20px;
}

aside{
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

#form{
    background-color:#0097cc;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    position: absolute;
    left: 75%;
    top: 69%;
    transform: translate(-50%,-50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#form h3{
    text-align: center;
    color:   white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#form h4{
    text-align: center;
    color:   white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}



#texto1{
    background-color: rgb(216, 216, 253);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    color:   white;

}

#texto2{
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 5px;
    font-size: 21px;
    color:   white;
     display:inline-block;
     text-align:center;

  
    
}

.texto3{
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:left;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color:   white;

}

img{
    max-width: 20%;
    margin-left:60px;
   
}

.meio{
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 20px;
    
}




.whats{
    max-width: 30%;
    margin-left: 165px;
  }

 

.depoimento{
    max-width: 300px;
    margin-top: 20px;
   padding-left: 20px;
   padding-right: 15px;
   padding-top: 0px;
   padding-bottom: 0px;
 
}

/*mobile*/

@media (max-width: 500px) {
    /* Event form */
    #event-subscription {
      flex-direction: column;
      height: auto;
      font-size: 2rem;
    }

    .imagens{
     
       bottom: 50px;
       margin: 0%;
        width: 115%;  
        padding-left: 0%;
        
    
       
        
    }

  .meio{
     flex-direction: column;
     margin: 0%;
     padding-bottom: 2%;
     padding-left: 0%;
     padding-right: 0%;
     padding-top: 2%;
    }

    #form{
     
     display: contents;
     left: 0%;
     max-width: 50%;

  
}
    #texto2{
        font-size: 12px;
    padding-left: 50px;
    padding-bottom: 0%;

    }

  article{
  
   margin-left: 0%;
  }
  
  .video{
    height: auto;
  }

  #artevirix{
    margin-left: 40%;
  }

  .logo{
    margin-left: 40%;
  }

  h4{
   
    font-size: 12px;
   
  }

  aside{
    width: 100%;
    background-color: #1cade2;
    padding: 0%;
    margin: 0%;

    
  }
  .texto3{
    margin: 0%;
    padding: 0%;
    font-size: 13px;
  }
  
  #charles{
 
     width:90%;
     margin-left:20%;
 
    }

  .depoimento{
   margin: 0%;
    height: auto;
    padding: 0%;
  }

  .dep{
    text-align: center;
  }

}